{% extends 'welcome/page_news.html' %}
{% block bio %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <form action="{{ url_for('bp_recruitinfo.edit_recruitinfos', id=recruitinfo.id) }}" method="post">
      <p>公司名：<input name="name" type="text" value="{{ recruitinfo.name }}"></p>
      <p>需求职位：<input name="position" type="text" value="{{ recruitinfo.position }}"></p>
      <p>类型：<input name="type" type="text" value="{{ recruitinfo.type }}"></p>
      <p>邮箱：<input name="email" type="text" value="{{ recruitinfo.email }}"></p>
      <p>联系电话：<input name="tel" type="text" value="{{ recruitinfo.tel }}"></p>
      <p>日期：<input name="data" type="text" value="{{ recruitinfo.data }}"></p>
{#      <p>性 别:#}
{#       <select name="gender" >#}
{#         <option value="M" {% if user.gender == 'M'%}selected{% endif %}>男</option>#}
{#         <option value="F" {% if user.gender == 'F' %}selected{% endif %}>女</option>#}
{#       </select>#}
{#      {% if form.gender.errors %}#}
{#       <span style="color:red;">#}
{#       {{ form.gender.errors | join('<br>') }}#}
{#       </span>#}
{#       {% endif %}#}
{#      </p>#}
      <p ><input type="submit"></p>
  </form>
</body>
</html>
{% endblock %}