{% extends 'welcome/page_news.html' %}
{% block bio %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body background="{{ url_for('static', filename='BG/snowflake.jpg')}}">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

  <h1>{{ user.nickname }}的个人信息</h1>
  <p>用户名：{{ user.username }}</p>
  <p>姓名：{{ user.nickname }}</p>
  <p>性别：{{ user.gender }}</p>
  <p>住址：{{ user.address }}</p>
  <p>邮箱：{{ user.mail }}</p>
<button><a href="{{ url_for('bp_welcome.welcome') }}">返回</a></button>
  <button><a href="{{ url_for('bp_welcome.edit_user', username=user.username) }}">修改个人信息</a></button>
</body>
</html>
{% endblock %}