{% extends 'welcome/page_news.html' %}
{% block headr %}
<h3 class="page-title">
公司 <small>公司信息展示</small>
</h3>
{% endblock %}

{% block bio %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <form action="{{ url_for('bp_corpsum.edit_corpsums', id=corpsum.id) }}" method="post">
      <p>公司名：<input name="name" type="text" value="{{ corpsum.name }}"></p>
      <p>类  型：<input name="type" type="text" value="{{ corpsum.type }}"></p>
      <p>日  期：<input name="data" type="text" value="{{ corpsum.data }}"></p>
{#      <p>性 别:#}
{#       <select name="gender" >#}
{#         <option value="M" {% if user.gender == 'M'%}selected{% endif %}>男</option>#}
{#         <option value="F" {% if user.gender == 'F' %}selected{% endif %}>女</option>#}
{#       </select>#}
{#      {% if form.gender.errors %}#}
{#       <span style="color:red;">#}
{#       {{ form.gender.errors | join('<br>') }}#}
{#       </span>#}
{#       {% endif %}#}
{#      </p>#}
      <p ><input type="submit"></p>
  </form>
</body>
</html>
{% endblock %}