<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{{ url_for('bp_corpinfo.add_corpinfos') }}" method="post">
    <p>公司名:<input name="name" type="text">
    {% if form.name.errors %}
         <span style="color:red;">
        {{ form.name.errors | join('<br>') }}
         </span>
        {% endif %}
    </p>
    <p>公司简介:<input name="biography" type="text"></p>
    <p>公司地址：<input name="address" type="text">
{#        {% if form.password.errors %}#}
{#         <span style="color:red;">#}
{#        {{ form.password.errors | join('<br>') }}#}
{#         </span>#}
{#        {% endif %}#}
    </p>
	<p>公司邮箱：<input name="\email" type="text"></p>&nbsp;
{#	<input type="radio" name="gender" value="F">女</p>#}
	<p>联系电话：<input name="tel" type="text"></p>
{#	<option value="teacher">教师</option>#}
{#	<option value="student">学生</option>#}
{#	<option selected>null</option>#}
{#	</select></p>#}
    <p><input type="submit" value="提交"></p>
</form>
</body>
</html>