<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息查询</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
          {% for message in messages  %}
            <li style="color: green">{{ message }}</li>
          {% endfor %}
      </ul>
     {% endif %}
{% endwith %}
<p>
  <a href="{{ url_for('bp_corpinfo.add_corpinfos') }}">添加用户</a>
</p>
  <table border="1" width="70%">
      <thead>
      <tr>
          <td>#</td>
          <td>ID</td>
          <td>公司名</td>
          <td>公司简介</td>
          <td>公司地址</td>
          <td>公司邮箱</td>
          <td>联系方式</td>
          <td>详情</td>
          <td>操作1</td>
          <td>操作2</td>
      </tr>
      </thead>
      <tbody>
      {% for corpinfo in corpinfos %}
      <tr>
          <td>{{ loop.index }}</td>
          <td>{{ corpinfo.id }}</td>
          <td>{{ corpinfo.name }}</td>
          <td>{{ corpinfo.biography }}</td>
          <td>{{ corpinfo.address }}</td>
          <td>{{ corpinfo.email }}</td>
          <td>{{ corpinfo.tel }}</td>
          <td><a href="{{url_for('bp_corpinfo.profile', id=corpinfo.id)}}">查看</a></td>
          <td><a href="{{url_for('bp_corpinfo.delete_corpinfos', id=corpinfo.id)}}">删除</a></td>
          <td><a href="{{url_for('bp_corpinfo.edit_corpinfos', id=corpinfo.id) }}">修改</a></td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
{% if page > 1 %}
<a href="{{ url_for('list_corpinfos', page=page-1) }}">上一页</a>
{% endif %}
<span>第{{ page }}页/共计{{ page_count }}页</span>
{% if page < page_count %}
<a href="{{ url_for('list_corpinfos', page=page + 1) }}">下一页</a>
{% endif %}
</body>
</html>